// Colors
$color-green: #5cdb95;
$color-blue: #1c173e;
$color-yellow: #f6fae2;
$color-white: #fff;
$color-font-footer: #767676;
$color-font-stats-list: #5f5f5f;
$color-button-blue: #15085c;

// Fonts
$font-primary: "Anton", sans-serif;
$font-secondary: "Open Sans", sans-serif;
